.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  &.wrapperIsInRange {
    background-color: #e2deff;
    box-shadow: -12px 0 0 #e2deff, 12px 0 0 #e2deff;
  }

  &.first {
    background-color: #e2deff;
    box-shadow: 12px 0 0 #e2deff;
  }

  &.last {
    background-color: #e2deff;
    box-shadow: -12px 0 0 #e2deff;
  }

  .container {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms linear;
    font-size: 12px;
    padding: 0;

    &:hover {
      background-color: #e2deff;
    }

    &.isInRange {
      z-index: 2;
      overflow: hidden;
      background-color: #e2deff;
    }

    &.dayToday {
      background-color: #9b8ff3;
      color: #f8fbff;
    }

    &.selectedDay {
      background-color: #e2deff;
      border: 2px solid #9b8ff3;
      color: #062341;
    }

    .notInCurrentMonth {
      color: #d0d5d8;
    }
  }
}
